body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.app-container {
  border: .2rem solid black;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4rem;
  padding-bottom: 2rem;
  border-radius: 4rem;
}

@media screen and (max-width: 37.5rem) {
  .app-container {
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.card-info-container {
  margin-top: 2rem;
}

.title-container {
  margin-top: 4rem;
  font-size: 2rem;
}

.footer-container {
  font-weight: 700;
}

