body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

.app-container {
  border: .2rem solid black;
  width: 24rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  border-radius: 4rem;
}

@media screen and (max-width: 37.5rem) {
  .app-container {
    margin-top: 2rem;
  }
}

.card-info-container {
  margin-top: 2rem;
}

.title-container {
  margin-top: 4rem;
  font-size: 2rem;
}

.footer-container {
  font-weight: 700;
}

